@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

.newThought {
  border: 1px solid #000;
  background-color: white;
  width: inherit;
  font-family: 'Dosis', sans-serif;
}

.main {
  width: 50vw;
  margin: auto;
}
